body {
    background-color: #1C6758;
}
h1, h2, h3, h4, label {
    color:   #ffb3b3;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
p, ul, tr, span {
    color: #e8ee8d;
}
a:visited {
    color: #DD5353;
}
nav{
    background-color: #1f3103;
    padding: 10px;
    margin: 10px;
}
nav a{
    color: #C1D5A4; 
}
nav a:hover {
background-color: #3dffd8;
}
nav{
    margin-bottom: 30px;
}
.quote {
    float: right;
}
.picture {
    max-width: 100%;
}

.row1, .row2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.nav {
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    span {display: none;}
    nav a {display: block;}

}
.box1{
    display: flex;
    justify-content: space-around;
}
.box2 {
    display: flex;
    background-color: rgb(197, 219, 241);
    padding: 20px;
    margin: 20px;
    flex: 1;
    
}
.icons{
    display: flex;
    justify-content: space-between;
    flex: 3;
}