body {
    background-color: #ffffff;
}
.flexbox1 {
    display: flex;
    background-color:  #aaff00;
    justify-content: space-around;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: 50px;
    margin: 20px;
}
.flexbox2 {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: 30px;
    margin: 20px;
    font-size: 50px;
}
.flexbox3 {
    display: flex;
    background-color:  #aaff00;
    justify-content: space-around;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: 300px;
    margin: 20px;
}
.options, .dispensaries {
    text-align: center;
    padding: 2%;
}
.flexbox5 {
    display: flex;
    border-radius: 25px;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}
.flexbox6 {
    display: flex;
    background-color:  #aaff00;
    justify-content: space-around;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: 50px;
    margin: 20px;
}
.customerservice {
    color:   #000000;
    text-align: center;
}
label {
    color: #000000;  
}
.retail {
    text-align: center;
}
ul.bullets {
    color: #000000;
    display: inline-block;
    text-align: center;
}
.types {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #000000;
}
.flexbox1, .flexbox2, .flexbox3, .flexbox5, .flexbox6 {
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 600px) {
    .flexbox1, .flexbox2, .flexbox3, .flexbox5, .flexbox6 {
      flex-direction: column;
    }
  }
.container, .container1, .container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    font-size: 35px;
    padding-left: 20px;
}
.resources, .outsidelinks {
    font-size: 20px;
    text-align: center;
}

ul {
    column-count: 4;
}
.results {
    text-align: center;
    padding: 5%;
}
.strain1, .strain2, .strain3, .strain4, .strain5, .strain6 {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.shops, .shopbutton {
    text-align: center;
}