body {
    background-color: #558000;
}
.flexbox1 {
    display: flex;
    background-color:  #aaff00;
    justify-content: space-around;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: 50px;
    margin: 20px;
}
.flexbox2 {
    display: flex;
    background-color:  #ffffff;
    justify-content: center;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: 30px;
    margin: 20px;
}
.flexbox3 {
    display: flex;
    background-color:  #aaff00;
    justify-content: space-around;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: 300px;
    margin: 20px;
}
.flexbox4 {
    display: flex;
    background-color: #ffffff;
    align-content: space-around;
    justify-content: center;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: 30px;
    margin: 20px;
}
.options, .dispensaries {
    text-align: center;
}
.flexbox5 {
    display: flex;
    border-radius: 25px;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}
.flexbox6 {
    display: flex;
    background-color:  #aaff00;
    justify-content: space-around;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: 50px;
    margin: 20px;
}
.customerservice {
    color: #ffcc66;
}