body {
    background-color: #1C6758;
}
h1, h2, h3 {
    color: #EEF2E6;
}
p, ul, tr {
    color: #D6CDA4;
}
a:visited {
    color: #DD5353;
}
nav{
    background-color: #1f3103;
    padding: 10px;
    margin: 10px; 
}
nav a{
    color: #C1D5A4; 
}
nav a:hover {
background-color: #3dffd8;
}
nav{
    margin-bottom: 30px;
}
.quote {
    float: right;
}
.evenrow {
    background-color: #00008B;
}
.box1{
    display: flex;
    justify-content: space-around;
}
.box2 {
    display: flex;
    background-color: yellow;
    padding: 20px;
    margin: 20px;
    flex: 1;
    
}
.icons{
    display: flex;
    justify-content: space-between;
    flex: 3;
}